@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
}
p{
    @apply text-[#BBBEC7] text-base font-semibold text-sm
    lg:text-base
}
a{
    @apply text-[#553BF1] cursor-pointer font-semibold text-sm
    lg:text-base
}

/* Form Styles */
label{
    @apply flex flex-col mb-[1em] w-full
}

span{
    @apply mb-[.3em] font-bold text-left text-base
    lg:text-base
}

input, textarea{
    @apply py-[.8em] bg-transparent w-full text-sm text-gray-500
    border-b-[1px] border-solid border-[#CCC] focus:border-[#BBB] focus:outline-none
    lg:w-[80%] lg:text-base

}


